:root {
    --bs-primary: #9ebb98;
    --bs-primary-rgb: 158, 187, 152;
    --bs-primary-dark: #596a56;
    --bs-primary-dark-rgb: 89, 106, 86;
}

.ratio img{
    object-fit: cover;
}

h1, #about-text, .social-link {
    text-shadow: 0 0 5px var(--bs-primary);
    background-color: rgba(var(--bs-primary-dark-rgb), .5);
}

p:last-child {
    margin-bottom: 0;
}

iframe #es-header {
    display: none;
}

.min-vh-50 {
    min-height: 50vh;
}

@media (min-width: 992px) {
    .ratio-20x7 {
        --bs-aspect-ratio: 35%;
    }

    .min-vh-50 {
        min-height: none;
    }
}